/*Logo and Naviagation styles*/
.logo{
    background-color: #A64044;
    height:121px;
    background-position:left;
}
.nav{
    display: flex;
    background-color: #DAE2E4;
    padding: 20px;
}
.center{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.top{
   color: black;
    padding: 70px;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    font-family: "Rubik", sans-serif;

}

/*Flex Container Styles*/
.flexCotainer{
    display: flex;
    height: 1200px;
    width: 800px;
    flex-direction: column;
    margin: 0 auto;
}
.container1, .container2, .container3, .container4, .container5{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container1{
    height: 1024px;
    background-image: url('../images/lab_hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.text{
    margin-top: 456px;
    background-color:rgb(0,0,0, 0.7);
    color: white;
    margin-left: 150px;
    margin-right: 150px;
}
h1{
    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}
.container2{
    display: flex;
    flex-direction: row;
    background-color: #A64044;
    margin-bottom: 20px;
    
}
h2{
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
}


.donate{
   align-self: center;
    text-align: center;
    color:white;

} 
button{
    background-color: #608791;
    border-radius: 18px;
    border: none;
    padding: 20px 50px;
    text-align: center;
    font-size: 24px;
    font-weight: medium;
    color: white;
    display: block;
    margin: 0 auto;
}
.container3{
        background-color: white;
        margin-bottom: 20px;
}

h3.Lab{
    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    color: black;
}
h4{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: black;  
}
.container4{
    display: flex;
    flex-direction: row;
    background-color: #A64044;
    color: white;
    margin-bottom: 20px;

}


.Join{
    align-self: center;
    text-align: center;
    color:white;
    margin-left: 100px;
    margin-right: 100px;
}
h3{
    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    color: black;
}
h5{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color:black;
}

.footer{
    display: flex;
    background-color: #DAE2E4;
    height: 280px;
    align-items: flex-start;
}
/*Footer Navigation styling by section*/
.section1, .section2, .section3, .section4, .section5{

    height: 100%;
    width: 100%;
    margin-top: 40px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}
.section1{
    margin-left: -100px;
    justify-content: space-evenly;
    align-self: baseline;
}
.section2{
    justify-content: space-evenly;
    align-self: baseline;
}
.section3{
    justify-content: space-evenly;
    align-self: baseline;
}
.section4{
    justify-content: space-evenly;
    align-self: baseline;
}
.section5{
    justify-content: space-evenly;
    align-self: baseline;
}
.bottom{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-decoration: none;
}
h6{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: 500;
    align-items: center;
    color: black;  
}


@media only screen and (max-width: 600px){
    .flexCotainer{
        display: block;
        margin-bottom: 20px;
       
    }

}

